div, .logoText {
    font-family: 'Russo One', sans-serif;
    color:#E5E5E5;
  }

.logoText, .gradient-text, .des {
    background: #BA86FC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00ffd5, #BA86FC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00ffd5, #BA86FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

.close {
    box-shadow: 0px 2px 4px -2px #E5E5E5;
}

  #sizeSlider::-webkit-slider-runnable-track, #favcolorBorder, .button {
    box-shadow: 1px 1px 3px 0px #E5E5E5;
  }
  

.boxStyle, .close, #sizeSlider::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(1700deg, #292929, #292929,#000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #292929, #292929, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #favcolorBorder {
    border-radius: 5px;
    padding: 0.5rem;
}
  
/* .bSize1 {
  margin: 0.5rem 1rem 1rem 1rem;
} */

.button, .boxStyle {
    border: none;
    outline: none;
    color: #00DAC6;
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    background: -webkit-linear-gradient(1700deg, #292929, #292929,#000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #292929, #292929, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .bSize1:before, .boxStyle:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff00c8,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .bSize1:after, .boxStyle:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(1700deg, #292929, #292929,#000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #292929, #292929, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 0;
    top: 0;
    border-radius: 5px;
  }

  .button:hover {
    transform: translateX(2px) translateY(4px);
  }

  .onClick:active, .button.active {
    transform: translateX(1px) translateY(2px);
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .gradient-text {
    background: #E4E4E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00ffd5, #BA86FC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00ffd5, #BA86FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .vh100, .main {
    height: 100vh;
    background: -webkit-linear-gradient(1700deg, #292929, #292929,#000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #292929, #292929, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .canvasMain {
    height:100%;
    width:100%;  
    background-image:
    repeating-linear-gradient(rgba(255,255,255,0.1) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, rgba(255,255,255,0.1) 0 1px, transparent 1px 100%);
  background-size: 10px 10px;
  }

  .navbar, .canvasMain {
    border-radius: 0px 0px 25px 25px;
  }