.removeAttr {
  text-decoration: none;
}

.canvas {
  border: 0px black dotted;
  position: absolute;
  top: 6rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 800px;
}

.vh100 {
  width: 100vw;
  height: 96vh;
  display: block;
  flex-direction: column;
  justify-content: space-between;
}

.overlap {
  display: inline-flex;
}

.outline {
  border: 1px solid #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-size: 1.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 25px;
  height:  25px;
  left: 3px;
  bottom: 4px;
  transition: .4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(30px);
}

.navbar {
  height: 6rem;
}

.bSize1, .togglerSize {
  width: 3rem;
  height: 3rem;
}

.bSize1 {
  margin: 0.5rem 1rem 1rem 1rem;
}

.bSize2 {
  width: 1.8rem;
  height: 1.8rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}

.i1 {
  font-size: 1.4rem;
}

.i2 {
  font-size: 0.9rem;
}

/* .main {
  display: inline-flex;
  width: 100%;
  height: 80vh;
} */

.main {
  width: 100vw;
  height: 85vh;
}

.canvasMain {
  border-radius: 0px 0px 30px 0px;
}

.attr {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 14rem;
  height: 0;
  display: block;
  justify-content: center;
  padding: 0px 1rem 0px 1rem;
}

.attrBox {
  width: 100%;
  height: auto;
  padding: auto;
  margin: 1.4rem auto;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.close {
  display: flex;
  justify-content: right;
  font-size: xx-small;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  border-radius: 5px 5px 0px 0px;
}

.col {
  display: flex;
  justify-content: space-evenly;
}

.box {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.part {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.des {
  font-size: small;
  padding-bottom: 0.2rem;
}

.overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favcolorBorder {
  position: relative;
  height: 60px;
  width: 60px;
  border: 0px solid;
  background: rgba(0,0,0,0);
  padding: 0.25rem;
}

#favcolorFill {
  content: '';
  position: absolute;
  height: 35px;
  width: 35px;
  border: 0px solid;
  background: rgba(0,0,0,0);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 60px;
}

#sizeSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(0deg); /* Updated rotation */
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
}

#sizeSlider::-webkit-slider-runnable-track {
  background-color: white; /* Change the color of the track */
  width: 16px; /* Increase the height to make it thicker */
  border-radius: 20px;
}